<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>623173255533-j0uptbtuahv8qi72ep76dt2f0svg4576.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.623173255533-j0uptbtuahv8qi72ep76dt2f0svg4576</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>623173255533-45i58qnrljte6dlr2m7pp9gkap5u0duh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAn6y-OXsXsapJiwhy1JJ39I15jQ-PTss4</string>
	<key>GCM_SENDER_ID</key>
	<string>623173255533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techmarketplacedavao</string>
	<key>PROJECT_ID</key>
	<string>davprime-40291</string>
	<key>STORAGE_BUCKET</key>
	<string>davprime-40291.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623173255533:ios:3626d1a9458fb3b30b5a64</string>
	<key>DATABASE_URL</key>
	<string>https://davprime-40291-default-rtdb.firebaseio.com</string>
</dict>
</plist>